---
import Map from "../components/Map.astro";

const years = Array.from({ length: 2022 - 1995 + 1 }, (_, i) => 1995 + i);

const optionsHtml = years
	.map((year) => `<option value="${year}">House Prices ${year}</option>`)
	.join("");

const dropdownHtml = `<label for="year-selector" class="sr-only">Select Year</label><select id="year-selector" class="p-2 rounded fixed bottom-[calc(3rem+240px)] left-1/2 transform -translate-x-1/2 z-10" onchange="window.loadNewData()">>${optionsHtml}</select>`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="House Prices 1995-2022 Mapped" />
		<link
			rel="stylesheet"
			href="https://js.arcgis.com/4.28/esri/themes/light/main.css"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
			rel="stylesheet"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
			rel="stylesheet"
		/>
		<title>Housing Prices Map</title>
	</head>
	<body>
		<Fragment set:html={dropdownHtml} />
		<Map />
	</body>
</html>
