---

---

<div
	class="absolute bottom-10 rounded-md z-10 bg-black bg-opacity-30 backdrop-blur-[20px] backdrop-saturate-[3] p-4 left-1/2 transform -translate-x-1/2"
>
	<div id="map-legend" class=""></div>
</div>
<script>
	import * as d3 from "d3";

	const svg = d3
		.select("#map-legend")
		.append("svg")
		.attr("width", 400)
		.attr("height", 75);

	const gradientColors = [
		{ offset: "0%", color: "rgb(16, 48, 94)" },
		{ offset: "25%", color: "rgb(136, 152, 175)" },
		{ offset: "50%", color: "rgb(255, 255, 255)" },
		{ offset: "75%", color: "rgb(210, 153, 139)" },
		{ offset: "100%", color: "rgb(165, 50, 23)" },
	];

	svg.append("defs")
		.append("linearGradient")
		.attr("id", "gradient-colors")
		.selectAll("stop")
		.data(gradientColors)
		.enter()
		.append("stop")
		.attr("offset", (d) => d.offset)
		.attr("stop-color", (d) => d.color);

	svg.append("rect")
		.attr("width", 300)
		.attr("height", 20)
		.attr("x", 50)
		.attr("y", 30)
		.style("fill", "url(#gradient-colors)");

	svg.append("text")
		.attr("x", 200)
		.attr("y", 15)
		.attr("text-anchor", "middle")
		.attr("fill", "#ffffff")
		.attr("font-size", "16px")
		.text("House Prices as a Multiple of Median Salary");

	svg.append("line")
		.attr("id", "value-indicator-line")
		.attr("x1", 50)
		.attr("y1", 30)
		.attr("x2", 50)
		.attr("y2", 50)
		.attr("stroke", "black")
		.attr("stroke-width", 2);

	const labels = [
		{ position: "0", x: 50 },
		{ position: "25", x: 200 },
		{ position: "50", x: 350 },
	];

	svg.selectAll(".label")
		.data(labels)
		.enter()
		.append("text")
		.attr("class", "label")
		.attr("x", (d) => d.x)
		.attr("y", 75)
		.attr("text-anchor", "middle")
		.attr("fill", "#ffffff")
		.text((d) => d.position);
</script>
